<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration
            http://www.springframework.org/schema/integration/spring-integration.xsd">

	<int:poller default="true" fixed-delay="250"/>

	<bean id="messagingTemplate" class="org.springframework.integration.core.MessagingTemplate">
		<property name="receiveTimeout" value="2000"/>
	</bean>

</beans>
