<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration
            http://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/integration/xml
            http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd">

	<int:channel id="mixedXmlDinings" />

	<!-- TODO 29:	Replace this transformer with an xpath splitter.
					The XPath expression to locate individual dining elements is "//dining" -->
	<int-xml:xpath-splitter input-channel="mixedXmlDinings" output-channel="xmlDinings">
		<int-xml:xpath-expression expression="//dining" />
	</int-xml:xpath-splitter>

</beans>
