<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/resources/styles/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/resources/styles/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <title>Spring Security - Simple Login Example - Secured Page</title>
</head>

<body>

	<div class="container">
		<div class="row">
			<div style="text-align: right">
				[ <a href="/">Home</a> ]
			</div>
		</div>

		<div class="row">
			<h1>A secured web page</h1>
		</div>

	</div>

</body>

</html>