<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet"/>

    <title>Spring Security / Cognito Example - Authorization Error</title>
</head>

<body>

	<div class="container">
		<div class="row">
			<div style="text-align: right">
				[ <a href="/">Home</a> ]
			</div>
		</div>
		
		<div class="row">
		
			<div class="container">
		
				<h1>Error</h1>
	
				{{#status}}
					<p>HTTP Response Status: {{status}}</p>
				{{/status}}
		
		        {{#message}}
					<p>{{message}}</p>
		        {{/message}}
		
				{{#exception}}
				<p>{{exception}}</p>
				{{/exception}}
			
			</div>
		</div>
		
	</div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-light">
      <div class="container">
        <span class="text-muted">Code for this example can be found in <a href="https://github.com/kennyk65/spring-teaching-demos/tree/master/spring-security-cognito-login">GitHub</a>.</span>
      </div>
    </nav>
			

</body>
</html>