<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Spring Security / Cognito Example - Signup</title>
</head>

<body>

	<div class="container">

		<!--
		  // Spring's RequestContext object contains almost everything about the current request.
		  // In Mustache it is exposed as the property 'springMacroRequestContext'.
		  // Here we use it to get the HTTP Request and fetch the error parameter
		  // If it exists, the error <div> is shown, otherwise it is not.
		  -->
		        

		<div class="row">

			<div class="col-sm">

				<h1>Sign Up</h1>
				<p>Note: this feature is under construction, working on confirmation email / SMS from Cognito...</p>
	
	
				<form action="/signup" method="post" class="form-horizontal ">
					<fieldset>
						<div class="form-group row">
							<label class="control-label col-sm-2" for="username"> Username </label>
							<div class="col-sm-4">
								<input type="text" id="username" name="username" class="form-control" aria-describedby="usernameHelp"  />
								<small id="usernameHelp" class="form-text text-muted">A 6+ character name you can use for login later.</small>
							</div>
							<div class="col-sm-6">
								{{#username.errors}}
 								<p name="username.errors" class="alert alert-danger" role="alert">Field is required.  Six characters minimum.</p>
								{{/username.errors}}
							</div>
						</div>
	
						<div class="form-group row">
							<label class="control-label col-sm-2" for="password"> Password </label>
							<div class="col-sm-4">
								<input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelp" placeholder="Enter password" />
								<small id="passwordHelp" class="form-text text-muted">A 6+ character password.  No wacky requirements.</small>
							</div>
							<div class="col-sm-6">
								{{#password.errors}}
 								<p name="password.errors" class="alert alert-danger" role="alert">Password is required.  At least 6 characters, no weird requirements.</p>
								{{/password.errors}}
							</div>
						</div>
	
						<div class="form-group row">
							<label class="control-label col-sm-2" for="confirmpassword"> Confirm Password </label>
							<div class="col-sm-4">
								<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm it"/>
							</div>
							<div class="col-sm-6">
								{{#password.errors}}
 								<p name="confirmPassword.errors" class="alert alert-danger" role="alert">Required, must match password.</p>
								{{/password.errors}}
							</div>
						</div>
	
						<div class="form-group row">
							<label class="control-label col-sm-2" for="email"> EMail Address </label>
							<div class="col-sm-4">
								<input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="someone@somewhere.com" />
								<small id="emailHelp" class="form-text text-muted">Use an address we can contact you for password updates, etc.</small>
							</div>
							<div class="col-sm-6">
								{{#email.errors}}
 								<p name="email.errors" class="alert alert-danger" role="alert">Must be a valid eMail address.</p>
								{{/email.errors}}
							</div>
						</div>
	
						<div class="form-group row">
							<label class="control-label col-sm-2" for="phone"> Mobile Phone Number </label>
							<div class="col-sm-4">
								<input type="text" id="phone" name="phone" class="form-control" aria-describedby="phoneHelp" placeholder="111-222-3333" />
								<small id="phoneHelp" class="form-text text-muted">Phone number allows us to send you SMS for password confirmation, etc.</small>
							</div>
							<div class="col-sm-6">
								{{#phone.errors}}
 								<p name="phone.errors" class="alert alert-danger" role="alert">Must be a valid North American phone number in 999-999-9999 format or similar.</p>
								{{/phone.errors}}
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-sm-2" for="confirmBy"> Confirm Using </label>
							<div class="col-sm-4">
								  <input type="radio" name="confirmBy" value="email" checked />  EMail
								  <input type="radio" name="confirmBy" value="phone" /> Phone
							</div>
							<div class="col-sm-6">
							</div>
						</div>

	
						<div class="form-group row">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Create</button>
							</div>
						</div>
					</fieldset>
					<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
				</form>
	
			</div>
		</div>
	</div>
	
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-light">
      <div class="container">
        <span class="text-muted">Code for this example can be found in <a href="https://github.com/kennyk65/spring-teaching-demos/tree/master/spring-security-cognito-login">GitHub</a>.</span>
      </div>
    </nav>
			
	
</body>

</html>