<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet"/>
    <title>Spring Security / Cognito Example - Signup Confirmation</title>
</head>

<body>

    <div class="container">
      <div class="jumbotron mt-3">
        <h3>Signup Complete</h3>
        <p class="lead">Your signup information has been accepted.  Check your email or phone for a confirmation message.</p>
        <a class="btn btn-lg btn-primary" href="/index" role="button">Back to home page &raquo;</a>
      </div>
    </div>
    
   
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-light">
      <div class="container">
        <span class="text-muted">Code for this example can be found in <a href="https://github.com/kennyk65/spring-teaching-demos/tree/master/spring-security-cognito-login">GitHub</a>.</span>
      </div>
    </nav>
			
</body>

</html>