<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>OAuth2 Authorization Server</title>
	    <meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"  />	    
    </head>
    <body>
        <div class="container">
        <h1>Welcome!</h1>

        <p>Welcome to the OAuth2 Authorization Server.  This server provides
        a place for users to authenticate.</p>
        <p> Click <a th:href="@{/hello}">here</a> to log in.  </p>
		</div>
    
    </body>
</html>