<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet"/>

    <title>Spring Security / Cognito Example - Default</title>
</head>

<body>

	<div class="container">
		<div class="row">
			<div style="text-align: right">
				[ <a href="/">Home</a> ]
			</div>
		</div>

		<div class="row">
			<h2>A secured web page</h2>
			<p>This page can be reached if one goes directly to the login page, and logs in.  We don't know where else they want to go.</p>
		</div>

		<div class="row">
			{{#principal}}
			<div>
				<form action="/logout" method="post" class="form-horizontal">
					<input type="submit" value="Logout" class="btn btn-link" />
					<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
					({{principal}})
				</form>
			</div>
			{{/principal}}
		</div>

	</div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-light">
      <div class="container">
        <span class="text-muted">Code for this example can be found in <a href="https://github.com/kennyk65/spring-teaching-demos/tree/master/spring-security-cognito-login">GitHub</a>.</span>
      </div>
    </nav>
			
</body>

</html>