<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
	    <title>OAuth2 Authorization Client, Authenticated...</title>
	    <meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"  />	    
    </head>
    <body>
        <div class="container">
			<h1>OAuth2 Authorization Client - Authenticated</h1>
	        <p>You are now authenticated</p>
	        <form th:action="@{/logout}" method="post">
	            <input type="submit" value="Sign Out"/>
	        </form>
		</div>
    </body>
</html>